h1 {
    margin: 0px;
}

.card {
    display: flex;
    margin: 20px;
    background-image: url('../img/hearts.jpg');
    background-size: contain;
    border: solid antiquewhite 4px;
    border-radius: 16px;
    box-shadow: 0px 10px 10px rgb(183, 87, 87);
}

.card-side {
    display: flex;
    margin: auto;
    flex-direction: column;
    gap: 5px;
    width: 36vw;
    padding: 20px;
    align-items: center;
    justify-content: center;
    border-right: solid antiquewhite 5px;
}

.card-text {
    font-size: larger;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    border-radius: 6px;
}

.glitter {
    position: absolute;
    width: 99vw;
    height: 99vh;
    pointer-events: none;
}